.titulos {
    font-family: 'Arial', sans-serif;
    color: #182335;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.sidebar-icon {
    font-size: 50px;
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}
  
.sidebar-icon:hover {
    color: #465978;
}

.visual-panel {
    flex: 3 1;
    display: flex;
    justify-content: center;
    height: 90%;
    padding: 30px;
    margin-top: -30px;
}

.sidebar {
    width: 85px;
    background-color: #182335;
    padding: 15px;
    border-right: 2px solid #f8b1c5;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    height: 100vh;
    overflow-y: auto;
}

.dash-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
    background: #EADBCC;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
.card-container {
    background-color: #D2594D;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}