/* Reset b[asico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definir Montserrat Variable Font */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Rango Peso */
    font-style: normal;
    font-display: swap;
}

/* Definir Roboto Variable Font */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900; /* Rango Peso*/
    font-variation-settings: 'wdth' 100; /* Ajuste inicial para ancho */
    font-style: normal;
    font-display: swap;
}

/* Variables globales */
:root {
    --BluePurple-Dark: #1A1A34;
    --BlueTeal-Dark: #182335;
    --Cream-Light: #FFF7E8;
    --Cream2-Light: #EADBCC;
    --BlueTeal-Ligth: #465978;
    --RedCarmen-dark: #E05649;
    --PickCarmen-light: #EEAF9D;
}

/* Contenedor ra[iz */
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}