/* Reset b[asico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Montserrat Variable Font */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/TrajanPro-Bold.otf') format('truetype');
    font-weight: 100 900; /* Rango Peso */
    font-style: normal;
    font-display: swap;
    fon-bold: bold;
}

/* Roboto Variable Font */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Century\ Gothic.ttf') format('truetype');
    font-weight: 100 900; /* Rango Peso*/
    font-variation-settings: 'wdth' 100; /* Ajuste inicial para ancho */
    font-style: normal;
    font-display: swap;
}

/* Variables globales */
:root {
    --BluePurple-Dark: #fff;
    --BlueTeal-Dark: #fff;
    --Cream-Light: #007654;
    --Cream2-Light: #01503a;
    --BlueTeal-Ligth: #465978;
    --RedCarmen-dark: #fff;
    --PickCarmen-light: #EEAF9D;
}

/* Contenedor ra[iz */
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}