.app {
    min-height: 100vh;
    display: flex;
    background-color: var(#FFF7E8);
}

.content {
    flex: 1;
    padding: calc(var(--spacing-unit, 8px) * 2);
    margin-left: 60px; /* Espacio fijo barra lateral con i[conos */
    
    @media (max-width: 768px) {
        margin-left: 0; /* Sin espacio celu, oculta */
    }
}