.container {
    width: 100%;
    height: 100%;
    background-color: var(--Cream-Light);
    border: 1px solid var(--BlueTeal-Dark);
    display: flex;
    justify-content: center;
    align-items: center;
}


.map-placeholder {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}