.lateralbar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100vh;
  background-color: var(--Cream-Light);
  color: var(--BlueTeal-Dark);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: 'Trajan Pro', serif;
}

.open {
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--BluePurple-Dark);
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--BlueTeal-Dark);
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menuItem {
  margin-bottom: 1.2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--BlueTeal-Dark);
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s, color 0.3s;
  padding: 0.5rem;
  border-radius: 8px;
}

.link:hover {
  background-color: var(--Cream2-Light);
  color: var(--RedCarmen-dark);
}

.active {
  background-color: var(--Cream2-Light);
  font-weight: bold;
  color: var(--RedCarmen-dark);
}

.icon {
  font-size: 1.2rem;
}

.name {
  flex-grow: 1;
}